In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df.shape

(918, 12)

In [4]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [5]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [6]:
lower_limit, upper_limit = df.Age.mean() -3*df.Age.std(), df.Age.mean() + 3*df.Age.std()

In [7]:
lower_limit

25.213043725991334

In [8]:
upper_limit

81.8087427663834

In [9]:
df[(df.Age>upper_limit) | (df.Age<lower_limit)]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [10]:
lower_limit, upper_limit = df.RestingBP.mean() -3*df.RestingBP.std(), df.RestingBP.mean() + 3*df.RestingBP.std()

In [11]:
df[(df.RestingBP>upper_limit) | (df.RestingBP<lower_limit)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
449,55,M,NAP,0,0,0,Normal,155,N,1.5,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [12]:
df1= df[(df.RestingBP<upper_limit) & (df.RestingBP>lower_limit)]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [13]:
lower_limit, upper_limit = df1.Cholesterol.mean() -3*df1.Cholesterol.std(), df1.Cholesterol.mean() + 3*df1.Cholesterol.std()

In [14]:
df1[(df1.RestingBP>upper_limit) | (df1.RestingBP<lower_limit)]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [15]:
lower_limit, upper_limit = df1.MaxHR.mean() -3*df1.MaxHR.std(), df1.MaxHR.mean() + 3*df1.MaxHR.std()

In [16]:
df1[(df1.MaxHR>upper_limit) | (df1.MaxHR<lower_limit)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
390,51,M,ASY,140,0,0,Normal,60,N,0.0,Flat,1

In [17]:
df2= df1[(df1.RestingBP<upper_limit) & (df1.RestingBP>lower_limit)]
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [18]:
lower_limit, upper_limit = df2.Oldpeak.mean() -3*df2.Oldpeak.std(), df2.Oldpeak.mean() + 3*df2.Oldpeak.std()

In [19]:
df2[(df2.Oldpeak>upper_limit) | (df2.Oldpeak<lower_limit)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
324,46,M,ASY,100,0,1,ST,133,N,-2.6,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [20]:
df3= df2[(df2.Oldpeak<upper_limit) & (df2.Oldpeak>lower_limit)]
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [21]:
df3.shape

(903, 12)

In [22]:
from sklearn.preprocessing import LabelEncoder
ChestPainType_new = LabelEncoder()
RestingECG_new = LabelEncoder()
ExerciseAngina_new = LabelEncoder()
ST_Slope_new = LabelEncoder()
sex = LabelEncoder()

In [23]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [24]:
df3['ChestPainType_new'] = ChestPainType_new.fit_transform(df3['ChestPainType'])
df3.drop(["ChestPainType"],axis='columns',inplace=True)

<ipython-input-24-8306adab08cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ChestPainType_new'] = ChestPainType_new.fit_transform(df3['ChestPainType'])
C:\Users\LENOVO\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [25]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [26]:
df3['RestingECG_new'] = RestingECG_new.fit_transform(df3['RestingECG'])
df3.drop(["RestingECG"],axis='columns',inplace=True)

<ipython-input-26-85ab307bc3dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['RestingECG_new'] = RestingECG_new.fit_transform(df3['RestingECG'])

In [27]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [28]:
df3['ExerciseAngina_new'] = ExerciseAngina_new.fit_transform(df3['ExerciseAngina'])
df3.drop(["ExerciseAngina"],axis='columns',inplace=True)

<ipython-input-28-df926e8d7f69>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ExerciseAngina_new'] = ExerciseAngina_new.fit_transform(df3['ExerciseAngina'])

In [29]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [30]:
df3['ST_Slope_new'] = ST_Slope_new.fit_transform(df3['ST_Slope'])
df3.drop(["ST_Slope"],axis='columns',inplace=True)

<ipython-input-30-ef1f379c9c85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ST_Slope_new'] = ST_Slope_new.fit_transform(df3['ST_Slope'])

In [31]:
df3['sex'] = sex.fit_transform(df3['Sex'])
df3.drop(["Sex"],axis='columns',inplace=True)

<ipython-input-31-14443034d637>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['sex'] = sex.fit_transform(df3['Sex'])

In [32]:
df3

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,ChestPainType_new,RestingECG_new,ExerciseAngina_new,ST_Slope_new,sex
0,40,140,289,0,172,0.0,0,1,1,0,2,1
1,49,160,180,0,156,1.0,1,2,1,0,1,0
2,37,130,283,0,98,0.0,0,1,2,0,2,1
3,48,138,214,0,108,1.5,1,0,1,1,1,0
4,54,150,195,0,122,0.0,0,2,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,3,1,0,1,1
914,68,144,193,1,141,3.4,1,0,1,0,1,1
915,57,130,131,0,115,1.2,1,0,1,1,1,1
916,57,130,236,0,174,0.0,1,1,0,0,1,0
917,38,138,175,0,173,0.0,0,2,1,0,2,1

In [33]:
X = df3.drop("HeartDisease",axis='columns')
y = df3.HeartDisease

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42439411,  0.46807229,  0.82451991, ..., -0.8217814 ,
         1.04667787,  0.51621668],
       [-0.47382333,  1.63825301, -0.17413904, ..., -0.8217814 ,
        -0.62025355, -1.93717102],
       [-1.74125103, -0.11701807,  0.76954786, ..., -0.8217814 ,
         1.04667787,  0.51621668],
       ...,
       [ 0.37112847, -0.11701807, -0.62307747, ...,  1.21686862,
        -0.62025355,  0.51621668],
       [ 0.37112847, -0.11701807,  0.33893345, ..., -0.8217814 ,
        -0.62025355, -1.93717102],
       [-1.63563206,  0.35105422, -0.21994909, ..., -0.8217814 ,
         1.04667787,  0.51621668]])

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [36]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [37]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        },
    'GaussianNB' : {
        'model': GaussianNB(priors=None)
        
    },
    'MultinomialNB' : {
        'model': MultinomialNB()
    },
    'Decision_Tree' : {
        'model': DecisionTreeClassifier()
    }

}
}

In [38]:
from sklearn.model_selection import GridSearchCV

In [39]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df_model = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_model

                 model  best_score                best_params
0                  svm    0.880872  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.864195       {'n_estimators': 10}
2  logistic_regression    0.862893                   {'C': 1}

In [40]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 92.09287672, -29.86252264],
       [-17.40646554, -15.02875205],
       [ 81.71564754,  38.85902647],
       ...,
       [-69.20231483,  17.62644617],
       [ 39.00801529, -33.66127367],
       [-21.65502923, -37.7530256 ]])

In [41]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [42]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train1, y_train1)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df_model = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_model